.div-1, .div-2{
    background-color: red;
    /* display: block; Distribución por defecto*/
}
.span-1{
    background-color: aquamarine;
    /* height: 500px; No realiza modificación por el tipo de distribución*/
    /* display: inline; Distribución por defecto*/
    float: right;
}
.span-2{
    background-color: aquamarine;
    /* height: 500px; No realiza modificación por el tipo de distribución*/
    /* display: inline; Distribución por defecto*/
    float: left; /* Muestra a la izquierda del elemento inline */
}
.imagen{
    width: 50px;
    /* display: inline-block; Distribución por defecto mediante la cual se puede trabajar la altura*/
}