/* https://codepen.io/enxaneta/full/adLPwv */

.flex {
    display: flex;
    flex-direction: column;
    /* posiciona los elementos en relacion al eje principal */
    justify-content: space-around;
    /* 
    *no-wrap: redimensiona los elementos dependiendo del tamaño de pantalla 
    *wrap - reacomoda los elementos respetando sus dimensiones
    */
    /* flex-wrap: wrap; */
    /* 
    *align-items: stretch comportamiento por defecto
    *Redimensiona los elementos para que ocupen toda la altura disponible 
    *Los elementos no deben tener definido el hight
    *align-items: center: alinea los elementos en el eje vertical y su altura depende de su contenido
    */
    align-items: flex-end;
    background-color: yellow;
    height: 300px;
}

.contenido-1 {
    background-color: white;
    /* height: 200px; */
    width: 100px;
    border: 1px solid blue;
}

.contenido-2 {
    background-color: white;
    /* height: 200px; */
    width: 100px;
    border: 1px solid blue;
}

.contenido-3 {
    background-color: pink;
    /* height: 200px; */
    width: 100px;
    border: 1px solid blue;
}